:root {
  --circle-size: 80vmin;
  --breath-circle-size: 70%;
  --breath-text-size: 8vmin;
}

@media screen and (max-width: 768px) {
  :root {
    --circle-size: 60vmin;
    --breath-circle-size: 60%;
    --breath-text-size: 10vmin;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --circle-size: 50vmin;
    --breath-circle-size: 50%;
    --breath-text-size: 12vmin;
  }
}

.container-fluid {
  height: 100vh;
}

.circle {
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background-color: #ffc0cb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.breath-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--breath-circle-size);
  height: var(--breath-circle-size);
  border-radius: 50%;
  background-color: #ff6347;
  opacity: 0.5;
  transition: all 2s ease-in-out;
}

.breathing-in .breath-circle {
  width: 70%;
  height: 70%;
}

.breathing-out .breath-circle {
  width: 30%;
  height: 30%;
}

.breath-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--breath-text-size);
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
